body {
    display: flex;
    flex-direction: column;
    min-height: 97vh;
}

.paragraph {
    font-family: Georgia, "Times New Roman", serif;
    color: #383838;
    font-size: 19px;
    line-height: 1.75;
}

.output {
    font-family: Georgia, "Times New Roman", serif;
    color: black;
    font-size: 17px;
    line-height: 1.25;
}

.paragraph a {
    color: #7A3DC5; /* Set color for hyperlinks */
    text-decoration: none; /* Remove underline from hyperlinks */
}

.custom-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 89%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #7A3DC5; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 19px;
}

.container {
    display: flex;
    flex-direction: row;
}

.description {
    flex: 1;
    order: 2; /* Places the description on the right */
}

.text-area {
    flex: 1;
    order: 1; /* Places the text area on the left */
    padding-right: 20px;
    display: inline;
}

textarea {
    width: 100%;
    height: 210px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", serif;
    color: black;
    font-size: 17px;
    line-height: 1.25;
}

.character-count {
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: rgb(71, 71, 71);
}

.checkbox-container {
    display: inline;
    white-space: nowrap;
}

#toggleIcon {
    display: none;
}

#extendedExplanatoryText {
    display: none;
}

.bottom-fixed {
    margin-top: auto;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
    color: black;
    padding: 2px 7px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid black;
    border-radius: 13px;
    cursor: pointer; 
    font-size: 13px;
    /* font-weight: 500; */
}

.green-button {
    background-color: #91e6aa;
}

.purple-button {
    background-color: #d6b6fe;
}

.yellow-button {
    background-color: #ffed9c;
}

.grey-button {
    background-color: #d3d3d3;
}

.warning-button {
    background-color: #d3d3d3;
    color: red;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    #toggleIcon {
        display: inline; /* Show icon */
        font-size: 1em;
        margin-left: 5px;
        transition: transform 0.3s ease;
    }

    .description h2:hover #toggleIcon {
        cursor: pointer;
        transform: rotate(90deg);
    }

    .text-area {
        padding-right: 0; /* Resets padding for mobile view */
    }

    .container {
        flex-direction: column;
    }

    .description, .text-area {
        order: 0; /* Resets order for mobile view */
    }

    #explanatoryText {
        display: none;
    }
}
