{% extends "base.html" %}


{% block head %}

{% endblock %}


{% block body %}
<h1>De&#8209;e-Automat (Beta&#8209;Version)</h1>
<div class="container">
    <div class="description">
        <h2 onclick="toggleDescription()"">Erläuterungen zum De&#8209;e-Automaten&nbsp;<span id="toggleIcon">&#9660;</span></h2>
        <div class="paragraph" id="explanatoryText">
            <p>Der De&#8209;e-Automat ist ein Werkzeug, das dabei helfen soll, Texte nach dem <a href="https://geschlechtsneutral.net/gesamtsystem/">De&#8209;e-System</a> geschlechtsneutral zu formulieren.</p>

            <p>Im ersten Schritt ermittelt der De&#8209;e-Automat die im Text vorkommenden Personenbezeichnungen. Neben den ermittelten Personenbezeichnungen erscheinen Kästchen, die dann markiert werden können, um sie im zweiten Schritt geschlechtsneutral zu machen.</p>

            <p>Bei langen Texten kann es zu Problemen kommen, sodass möglichst nur einzelne Absätze in das Textfeld eingefügt werden sollten.</p>

            <p>Es sollte beachtet werden, dass der De&#8209;e-Automat manchmal Wörter, die keine Personenbezeichnungen sind, im ersten Schritt als potentielle Personenbezeichungen interpretiert und deswegen ein Kästchen daneben erscheinen lässt. Zum Beispiel wird das Wort „er“ immer als potentielle Personenbezeichnung interpretiert, auch wenn es sich zum Beispiel auf einen Tisch und nicht auf eine männliche Person bezieht. Außerdem werden mehrdeutige Wörter wie „Rechner“ und „Beirat“, die manchmal Dinge und manchmal Personen bezeichnen, generell als potentielle Personenbezeichnungen interpretiert. Wenn ein Wort, das in dem Eingabetext nicht als Personenbezeichnung gemeint war, trotzdem als potentielle Personenbezeichnung erkannt wurde, sollte darauf geachtet werden, dass dieses nicht für die geschlechtsneutrale Umformulierung markiert wird, da der Ausgabetext sonst nicht sinnvoll ist.</p>

            <p>Die Possessivform „ihr“ (z.&nbsp;B.&nbsp;„ihre Stifte“) wird im ersten Schritt immer als potentielle Personenbezeichung interpretiert, da es sein kann, dass es sich im Ausgangstext auf eine weibliche Person bezieht und diese feminine Bezugnahme durch eine geschlchtsneutrale ersetzt werden soll. Es kann allerdings auch vorkommen, dass „ihr“ sich auf mehrere Personen bezieht. In diesem Fall sollte es nicht markiert werden, da das plurale „ihr“ im De&#8209;e-System unverändert bleibt, der De&#8209;e-Automat aber ein markiertes „ihr“ immer als Singular-Femininum-Possessivform interpretiert.</p>

            <p>Der De&#8209;e-Automat ist derzeit nicht darauf ausgelegt, Komposita zu erkennen und anzupassen, in denen das erste Element eine Personenbezeichnung ist (z.&nbsp;B.&nbsp;„Schülervertretung“).</p>

            <p>Die Textverarbeitung im De&#8209;e-Automaten basiert auf dem an der Universität Zürich entwickelten <a href="https://pub.cl.uzh.ch/demo/parzu/">ParZu-Parser</a> für die deutsche Sprache. In einigen Fällen erkennt dieser Parser den grammatischen Fall, die Einzahl/Mehrzahl-Unterscheidung oder die grammatische Struktur des Satzes nicht richtig, was vereinzelt zu einer fehlerhaften Umwandlung ins De&#8209;e-System führen kann. Diese Fälle treten sehr selten auf. Hier sind einige uns bekannte Fehler dieser Art:</p>
            <ul>
            <li> „Ich haben einen netten und einen unfreundlichen Kollegen.“ – Hier wird nicht erkannt, dass sich „einen netten“ auch auf „Kollegen“ bezieht. Daher bleibt „einen netten“ im Output des De&#8209;e-Automaten unverändert, obwohl es im De&#8209;e-System eigentlich die Form „ein nette“ annehmen sollte.</li>
            <li> „Jeder hilft jedem anderen.“ – Hier wird nicht korrekt erkannt, dass das Wortpaar „jedem anderen“ eine Einheit bildet, und dass dadurch „anderen“ hier auch im Dativ steht. Dadurch wird daraus im Output des De&#8209;e-Automaten fehlerhafterweise „jedem anderey“ statt der korrekten Form „jederm anderen“.</li>
            </ul>

            <p>Der De&#8209;e-Automat wurde von Linus Wemmer und Marcos Cramer programmiert. Dieses Web-Interface des De&#8209;e-Automaten wird vom <a href="https://geschlechtsneutral.net/verein">Verein für geschlechtsneutrales Deutsch&nbsp;e.&nbsp;V.</a> bereitgestellt.</p>

        </div>
    </div>
    <div class="text-area">
        <form action="/parse" method="POST">
            <textarea id="textInput" name="inputText">{{ input_text }}</textarea>
            <br/>
            <button type="submit">Personenbezeichnungen ermitteln</button>
        </form>
        {{ dataToRender|safe }}
        <p>{{ outputText|safe }}</p>
        <br/>
        <form action="/report" method="POST">
            <button type="submit" >Problem melden</button>
        </form>
    </div>
</div>
<script>
function toggleDescription() {
    if (window.innerWidth <= 600) {
        var text = document.getElementById("explanatoryText");
        var icon = document.getElementById("toggleIcon");

        if (text.style.display === "none" || text.style.display === "") {
            text.style.display = "block";
            icon.innerHTML = "&#9650;"; // Upward triangle
        } else {
            text.style.display = "none";
            icon.innerHTML = "&#9660;"; // Downward triangle
        }
    }
}
document.getElementById("selectAllButton").addEventListener("click", function() {
    // Select all checkboxes
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for(var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = true;
    }
});
</script>
{% endblock %}
