{% extends "base.html" %}


{% block head %}

{% endblock %}


{% block body %}
<h1>De&#8209;e-Automat (Beta&#8209;Version)</h1>
<div class="container">
    <div class="description">
        <h2 onclick="toggleDescription()">Erläuterungen zum De&#8209;e-Automaten&nbsp;<span id="toggleIcon">&#9660;</span></h2>
        <div class="paragraph" id="explanatoryText">
            <p>Der De&#8209;e-Automat ist ein Werkzeug, das dabei helfen soll, Texte nach dem <a href="https://geschlechtsneutral.net/gesamtsystem/">De&#8209;e-System</a> geschlechtsneutral zu formulieren. Im ersten Schritt ermittelt der De&#8209;e-Automat die im Text vorkommenden Personenbezeichnungen. Neben diesen erscheinen Kästchen, die dann markiert werden können, um sie im zweiten Schritt geschlechtsneutral zu machen.</p>

            <h3 onclick="toggleExtendedDescription()" style="cursor: pointer;">Weitere Erläuterungen&nbsp;<span id="toggleIconExt">&#9660;</span></h3>
        </div>

            <div class="paragraph" id="extendedExplanatoryText">
                <p>Es sollte beachtet werden, dass der De&#8209;e-Automat manchmal Wörter, die keine Personenbezeichnungen sind, im ersten Schritt als solche interpretiert. Zum Beispiel das Wort „er“, auch wenn es sich etwa auf einen Tisch und keine Person bezieht, oder Wörter wie „Rechner“, die manchmal Dinge und manchmal Personen bezeichnen. Dies betrifft auch die Possessivform „ihr“, egal ob diese sich auf eine Person bezieht (wie in „Sie hat ihre Tasche verlegt“) oder auf mehrere („Sie haben ihre Taschen verlegt“). In letzterem Fall sollte „ihr“ nicht markiert werden, da das pluralische „ihr“ im De&#8209;e-System unverändert bleibt.</p>

                <p>Beim Automaten handelt es sich noch um eine Beta-Version und es können auch Fehler bei der Übersetzung ins De-e-System auftreten. Falls Dir ein Problem auffällt, kannst Du dies gerne melden, indem Du auf „<a href="/report">Problem melden</a>“ klickst.</p>
            </div>
    </div>

    <div class="text-area">
        <form action="/parse" method="POST">
            <textarea id="textInput" name="inputText" maxlength="5000" oninput="updateCharacterCount()">{{ input_text }}</textarea>
            <br/>
            <button type="submit" class="green-button">Personenbezeichnungen ermitteln</button>
            <div class="character-count" id="charCountText"><span id="charCount"></span>&nbsp;/&nbsp;5000</div>
        </form>
        <br/>
        <div class="output">
        {{ dataToRender|safe }}
        </div>
        <p class="output">{{ outputText|safe }}</p>
        <br/><br/>
        <form action="/report" method="POST">
            <button type="submit" class="grey-button">Problem melden</button>
        </form>
        <br/>
    </div>
</div>

<div class="paragraph bottom-fixed">
<hr/>
<p>Der De&#8209;e-Automat wurde von Marcos Cramer und Linus Wemmer programmiert. Dieses Web-Interface des De&#8209;e-Automaten wird vom <a href="https://geschlechtsneutral.net/verein">Verein für geschlechtsneutrales Deutsch&nbsp;e.&nbsp;V.</a> bereitgestellt. Die Textverarbeitung im De&#8209;e-Automaten basiert auf dem an der Universität Zürich entwickelten <a href="https://pub.cl.uzh.ch/demo/parzu/">ParZu-Parser</a> für die deutsche Sprache.</p>
</div>

<script>
function toggleDescription() {
    if (window.innerWidth <= 600) {
        var text = document.getElementById("explanatoryText");
        var icon = document.getElementById("toggleIcon");
        var ext_text = document.getElementById("extendedExplanatoryText");
        var ext_icon = document.getElementById("toggleIconExt");

        if (text.style.display === "none" || text.style.display === "") {
            text.style.display = "block";
            icon.innerHTML = "&#9650;"; // Upward triangle
        } else {
            text.style.display = "none";
            ext_text.style.display = "none";
            icon.innerHTML = "&#9660;"; // Downward triangle
            ext_icon.innerHTML = "&#9660;"; // Downward triangle
        }
    }
}
function toggleExtendedDescription() {
        var text = document.getElementById("extendedExplanatoryText");
        var icon = document.getElementById("toggleIconExt");

        if (text.style.display === "none" || text.style.display === "") {
            text.style.display = "block";
            icon.innerHTML = "&#9650;"; // Upward triangle
        } else {
            text.style.display = "none";
            icon.innerHTML = "&#9660;"; // Downward triangle
        }
}
document.getElementById("selectAllButton").addEventListener("click", function() {
    // Select all checkboxes
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for(var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = true;
    }
});
function updateCharacterCount() {
  var maxLength = 5000;
  var currentLength = document.getElementById('textInput').value.length;
  var remaining = maxLength - currentLength;
  var charCountText = document.getElementById('charCountText');
  
  document.getElementById('charCount').textContent = remaining;

  if (remaining <= 0) {
    charCountText.style.color = 'red';
  } else {
    charCountText.style.color = 'rgb(71, 71, 71)';
  }
}
</script>
{% endblock %}
