{% extends "base.html" %}


{% block head %}

{% endblock %}


{% block body %}
<h1>De&#8209;e&#8209;Automat: Problem&#8209;Meldung</h1>
<div class="container">
    <div class="description">
        <h2 onclick="toggleDescription()">Erläuterungen zum De&#8209;e-Automaten&nbsp;<span id="toggleIcon">&#9660;</span></h2>
        <div class="paragraph" id="explanatoryText">
            <p>Der De&#8209;e-Automat ist ein Werkzeug, das dabei helfen soll, Texte nach dem <a href="https://geschlechtsneutral.net/gesamtsystem/">De&#8209;e-System</a> geschlechtsneutral zu formulieren. Im ersten Schritt ermittelt der De&#8209;e-Automat die im Text vorkommenden Personenbezeichnungen. Neben diesen erscheinen Kästchen, die dann markiert werden können, um sie im zweiten Schritt geschlechtsneutral zu machen.</p>

            <h3 onclick="toggleExtendedDescription()" style="cursor: pointer;">Weitere Erläuterungen&nbsp;<span id="toggleIconExt">&#9660;</span></h3>
        </div>

            <div class="paragraph" id="extendedExplanatoryText">
                <p>Es sollte beachtet werden, dass der De&#8209;e-Automat manchmal Wörter, die keine Personenbezeichnungen sind, im ersten Schritt als solche interpretiert. Zum Beispiel das Wort „er“, auch wenn es sich etwa auf einen Tisch und keine Person bezieht, oder Wörter wie „Rechner“, die manchmal Dinge und manchmal Personen bezeichnen. Wenn sie sich nicht auf Personen beziehen, sollten diese Wörter nicht für die Neutralisierung markiert werden.</p>

                <p>Im Deutschen wird das Geschlecht im Plural in weniger Wortarten angezeigt als im Singular, nämlich nur an Substantiven. Artikel, Pronomen und Adjektive sind im Plural bereits geschlechtsneutral und bleiben daher im De&#8209;e-System unverändert. Das betrifft auch substantivierte Adjektive (zum Beispiel „die Jugendlichen“). Bei der Possessivform „ihr“ und in bestimmten  Kontexten auch beim Pronomen „sie“ kann der De-e-Automat nicht erkennen, ob es um eine oder mehrere Personen geht (zum Beispiel bei „Ich habe sie mit ihren Hunden gesehen“). Diese Wörter solltest Du nur auswählen, wenn sie sich auf eine einzelne Person beziehen.</p>
                    
                <p>Der De&#8209;e-Automat kann derzeit nur feminine und maskuline Formen wie „Lehrerinnen“ und „jeder“ korrekt neutralisieren (und außerdem Doppelformen wie „Lehrerinnen und Lehrer“), nicht aber Formen mit Sonderzeichen wie „Lehrer*innen“ und „jede(r)“.</p>

                <p>Beim Automaten handelt es sich noch um eine Beta-Version und es können auch Fehler bei der Übersetzung ins De-e-System auftreten. Falls Dir ein Problem auffällt, kannst Du dies gerne melden, indem Du auf „<a href="/report">Problem melden</a>“ klickst.</p>
            </div>
    </div>

    <div class="text-area output">
        {{ dataToRender|safe }}
        <form action="/" method="POST">
            <button type="submit" class="green-button">Zurück zum De-e-Automaten</button>
        </form>
        <br/>
    </div>
</div>

<div class="paragraph bottom-fixed">
    <hr/>
    <p>Der De&#8209;e-Automat wurde von Marcos Cramer und Linus Wemmer programmiert. Dieses Web-Interface des De&#8209;e-Automaten wird vom <a href="https://geschlechtsneutral.net/verein">Verein für geschlechtsneutrales Deutsch&nbsp;e.&nbsp;V.</a> bereitgestellt. Die Textverarbeitung im De&#8209;e-Automaten basiert auf dem an der Universität Zürich entwickelten <a href="https://pub.cl.uzh.ch/demo/parzu/">ParZu-Parser</a> für die deutsche Sprache.</p>
</div>

<script>
function toggleDescription() {
    if (window.innerWidth <= 600) {
        var text = document.getElementById("explanatoryText");
        var icon = document.getElementById("toggleIcon");

        if (text.style.display === "none" || text.style.display === "") {
            text.style.display = "block";
            icon.innerHTML = "&#9650;"; // Upward triangle
        } else {
            text.style.display = "none";
            icon.innerHTML = "&#9660;"; // Downward triangle
        }
    }
}
function toggleExtendedDescription() {
        var text = document.getElementById("extendedExplanatoryText");
        var icon = document.getElementById("toggleIconExt");

        if (text.style.display === "none" || text.style.display === "") {
            text.style.display = "block";
            icon.innerHTML = "&#9650;"; // Upward triangle
        } else {
            text.style.display = "none";
            icon.innerHTML = "&#9660;"; // Downward triangle
        }
}
document.getElementById("selectAllButton").addEventListener("click", function() {
    // Select all checkboxes
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for(var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = true;
    }
});
</script>
{% endblock %}
